nav{
  background-color: black;
  color:white;
  padding:10px;
}

li,ul,h1{
  display:inline;

}
ul{
  margin-left:60%;
}
.intro{
  font-size:20px;

}
li a:hover {
  text-decoration: none;
  color:white;

}
h2,h3{
  text-align: center;
}
iframe{
  margin-left:35%;
}
body{
  background-image: url('dhonicup.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}